<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find urdf_sandee)/urdf/urdf_sandee.urdf" />
  
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
    <param name="use_gui" value ="false"/>
    
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
    
    <node pkg="tf" type="static_transform_publisher" name="base_link_laser"
    args="0.0 0.0 0.14 0.0 0.0 0.0 /base_link /laser_frame 40" /> 

</launch>
